@import '../../style/base.scss';

.homeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  padding: 0;

}


.leftColumn{
  background-color: #fff;
  position: sticky; /* 改為 sticky */
  top: 0; /* 固定在頂部 */
  height: 100vh; /* 使用 viewport 高度 */
  margin-right: 24px;
  flex: 1;
  
}


.middleColumn {
  flex: 6;
  position: relative;
  background-color: #fff;
  padding-right: 25px;
  overflow-y: auto;
}


.HeaderContainer {
  height: 74px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color; 
  border-bottom: 1px solid $border-color; 
  
}

.Header{
  @include fontStyle(24,700);
  line-height:26px;
  text-align: center;
  
}
