@import '../../style/base.scss';

.homeContainer {
  composes: homeContainer from '../HomePage/HomePage.module.scss';
}

.homeColumn {
  composes: homeColumn from '../HomePage/HomePage.module.scss';
  justify-content: center;
}

.leftColumn {
  composes: leftColumn from '../HomePage/HomePage.module.scss';
}

.rightColumn {
  width: 100%;
  height: 100vh;
  min-width: calc(70% - 200px);
  /* 使用 viewport 高度 */
  position: sticky;
  /* 改為 sticky */
  top: 0;
  /* 固定在頂部 */
  background-color: $background-color;
}

.middleColumn {
  min-width: 30%;
  position: relative;
  background-color: $background-color;

  overflow-y: auto;

  //隱藏滾動條 (不一定每個瀏覽器有效)
  scrollbar-width: none;
  -ms-overflow-style: none; //ms

  &::-webkit-scrollbar {
    //scss寫法
    display: none;
  }

}

// 手機
@media screen and (max-width: 426px) {
  .rightColumn {
    display: none;
  }

  .middleColumn {
    margin: unset;
    border-right: none;
    border-left: none;
  }
}