@import '../../style/base.scss';

.followContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    z-index: 1;

}

.homeColumn {
    display: flex;
    flex-direction: row;
    height: 100%;
    //border-radius: 16px;
    z-index: 1;
}

.leftColumn,
.rightColumn {
    flex: 1;
    background-color: #fff;
    position: sticky;
    /* 改為 sticky */
    top: 0;
    /* 固定在頂部 */
    height: 100vh;
    /* 使用 viewport 高度 */
}

.leftColumn {
    margin-right: 24px;
    z-index: 10;
}

.middleColumn {
    flex: 3;
    position: relative;
    background-color: #fff;
    padding-right: 25px;
      //隱藏滾動條 (不一定每個瀏覽器有效)

  scrollbar-width: none;
  -ms-overflow-style: none; //ms
  &::-webkit-scrollbar { //scss寫法
    display: none;
    z-index: 1;
}
  
}

