@import"../../style/base.scss";

.container {
  width: 100%;
  position: relative;
  border: 1px solid $border-color;
}

.bgContainer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarContainer {
  @include box(140, 140);

  position: absolute;
  left: 16.13px;
  top: 124px;
  object-fit: cover;
  border: 1px solid $background-color;
  border-radius: 50%;

  >img {
    border-radius: 50%;
  }
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .button {
    @include box(128, 40);
    @include fontStyle(16, 400);
    margin: 16px;
    color: $brand-color;
    background: $background-color;
    border: 1px solid $brand-color;
    border-radius: 50px;
  }

}

.textContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 16px;

  .name {
    font-weight: 700;
    line-height: 26px;
    color: $name-color;
  }

  .account {
    @include fontStyle(14, 400);
    line-height: 22px;
    color: $secondary-color;

  }

  >p {
    margin-top: 6px;
  }

  .description {
    @include fontStyle(14, 400);
    line-height: 22px;
    color: $name-color;
    padding-top: 6px;
    padding-right: 16px;
  }

}

.linkGroup {
  margin-top: 8px;
  width: 100%;
  text-align: left;

  .link {
    @include fontStyle(14, 400);
    line-height: 22px;
    color: $name-color ;

    &:nth-child(1) {
      margin-right: 20px;
    }

    >span {
      color: $secondary-color;
    }
  }
}

.skeleton {
  height: 370px;
}