@import '../../style/base.scss';

.tweetCardContainer {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    box-sizing: border-box;
    border: 1px solid $border-color;

}

.tweetCard {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 16px;
    box-sizing: border-box;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(100% - 50px);
    padding-right: 24px;
    padding-left: 8px;
    word-wrap: break-word;

}

.nameAndUserId {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.name {
    @include fontStyle(16, 700);
    font-style: normal;
    color: $main-text-color;
    line-height: 26px;
    margin-right: 8px;
}


.userIdTime {
    @include fontStyle(14, 400);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $secondary-color;
}


.tweet {
    @include fontStyle(16, 400);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: auto;
    width: 528px;
    line-height: 26px;
    color: $main-text-color;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.replyContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.reply {
    font-size: 14px;
    color: $secondary-color;
    margin-right: 2px;
}

.replyId {
    font-size: 14px;
    color: $brand-color;
}

.countContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
}

.count {
    display: flex;
    flex-direction: row;
    width: 20%;

    img {
        margin-right: 8px;
        width: 16px;
        height: 16px;
    }
}

.replyIcon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.isLikeIcon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    fill: $brand-color;
}

.likeIcon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}