@import '../../style//base.scss';

.recommendListContainer {
    position: relative;
    
    width: 100%;
    top: 16px;
    /* grayscale/dark-20 */
    background: #FAFAFB;
    //border-radius: 16px; 
 
    
    
}

/* card/popular */
.recommendCard {
    display: flex;
    align-items: flex-start;
    margin-left: 25px;
    //position: relative;
    height: 82px;
    box-sizing: border-box; //直接填滿
}

.avatar {
    width: 50px;
    height: 50px;
    margin-right: 16px;

}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //justify-content: center;
    flex-grow: 1;

}

.name,
.userName {
    font-family: 'Noto Sans TC';
    font-style: normal;

}

.name {
    width: auto; // 讓名稱的寬度可以自適應
    height: 26px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #171725;
}

.userName {
    width: auto; // 讓用戶名的寬度可以自適應
    height: 22px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #92929D;
}

// buttonFollower取消flex
.buttonFollowing,
.buttonFollower {
    @include fontStyle(16,400);
    align-items: center;
    text-align: center;
    height: 40px;
    margin-left: 16px;
    line-height: 24px;
    border-radius: 50px;
    font-style: normal;
    //right: 16px;
    top: calc(50% - 40px/2); //figma:直接除二
    margin-right: 16px;

}

.buttonFollowing {
    display: flex;
    width: 80px;
    font-style: normal;
    color:$background-color;
    flex: none;
    background: $brand-color;

}

.buttonFollower {
    width: 64px;
    background: $background-color;
    color: $brand-color;
    border: 1px solid $brand-color;
}

.RecommendHeader{
@include fontStyle(24,700);
@include box (96,24);
height: 74px;
    
}