@import '../../style/base.scss';

// 取消寬度設定
.mainPostContainer {
    display: flex;
    flex-direction: row;
    height: 130px;
    border: 1px solid $border-color;
    border-bottom: 10px solid $border-color;
    padding-left: 24px;
    padding-top: 16px;
}


.tweetArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 50px);
    
}

.avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.tweetText {
    @include fontStyle(18,700);
    border: none;
    height: 100%;
    width: 100%;
    line-height: normal;
    text-align: top;
    line-height: 18px;
    color: $secondary-color;
    padding-top: 0;
    margin-bottom: 10px;
    resize: none;
    overflow: hidden;

    textarea {
        height: 50px; //調整高度
        border: none;
        padding: 0;

    }
}

.tweetButton {
    @include fontStyle(16,400);
    text-align: center;
    height: 40px;
    width: 64px;
    background: $brand-color;
    border-radius: 50px;
    line-height: 24px;
    color: #FFF;
    margin-left: 25px;
    margin-right: 16px;
    margin-top: 50px;
    


}

//background: #E6ECF0;
//transform: rotate(180deg);