.mainPostContainer{
    display: flex;
    flex-direction:  row;
    width: 634px;
    height: 130px;
    margin-bottom: 16px;
}
.tweetArea{
    display: flex;
    flex-direction:  column;
    justify-content: space-between;
    width: calc(100% - 50px);
}
.avatar{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    //background: url(.png),
    //#C3C4C4
}
.tweetText{
    border: none;
    height: 100%;
    width: 100%;
    line-height: normal;
    padding-top: 0;
    text-align: top;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #6C757D;
    margin-bottom:10px;
    input{
        height: 50px; //調整高度
        border:none;
        padding: 0;

    }
}

.tweetButton {
    align-self: flex-end;
    text-align: center;
    height: 40px;
    width: 64px;
    //top: calc(50% - 40px/2 - 425px);
    background: #FF6600;
    border-radius: 50px;
    line-height: 24px;
    font-size: 16px;
    color: #FFF;
    margin-left: 25px;

}