.tweetCardContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 16px;
    box-sizing: border-box;

}

.tweetCard {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 16px;
    box-sizing: border-box;

}

.avatar {
    // margin-left: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: calc(100% - 50px);

}

.nameAndUserId {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.name {
    font-family: 'Noto Sans TC';
    ;
    font-style: normal;
    color: #171725;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    margin-right: 8px;
}

.userIdTime {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #6C757D;
}


.tweet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: auto;
    width: 528px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #171725;
}

.replyContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.reply {
    font-size: 14px;
    color: #6C757D;
    margin-right: 2px;
}

.replyId {
    font-size: 14px;
    color: #FF6600;
}

.countContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
}

.count {
    display: flex;
    flex-direction: row;
    width: 20%;

    img {
        margin-right: 8px;
        width: 16px;
        height: 16px;

    }


}