.recommendListContainer {
    position: relative;
    width: 100%;
    height: 60%; //算過731差不多等於60%
    top: 16px;
    /* grayscale/dark-20 */
    background: #FAFAFB;
    //border-radius: 16px; 
}

/* card/popular */

.recommendCard {
    display: flex;
    align-items: flex-start;
    margin-left: 25px;
    //position: relative;
    height: 82px;
    box-sizing: border-box; //直接填滿
}

.avatar {
    //position: absolute;
    width: 50px;
    height: 50px;
    margin-right: 16px;
    border-radius: 50%; 

    //top: 16px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //justify-content: center;
    flex-grow: 1;

}

.name,
.userName {
    font-family: 'Noto Sans TC';
    font-style: normal;

}

.name {
    width: auto; // 讓名稱的寬度可以自適應
    height: 26px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #171725;
}

.userName {
    width: auto; // 讓用戶名的寬度可以自適應
    height: 22px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #92929D;
}

// buttonFollower取消flex
.buttonFollowing,
.buttonFollower {
    //flex-direction: column;
    //justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    margin-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 50px;
    font-family: 'Noto Sans TC', sans-serif;
    font-style: normal;
    //right: 16px;
    top: calc(50% - 40px/2); //figma:直接除二
    margin-right: 16px;

}

.buttonFollowing {
    display: flex;
    width: 80px;
    font-style: normal;
    color: #FFFFFF;
    flex: none;
    background: #FF6600;

}

.buttonFollower {
    //align-items: flex-start;
    width: 64px;
    /* grayscale/dark-0 */
    background: #FFFFFF;
    /* color/brand/main */
    color: #FF6600;
    /* color/brand/main */
    border: 1px solid #FF6600;
}