@import"../../style/base.scss";

.background {
  z-index: 1000; //浮起來
  width: 100%;
  height: 100%;
  background-color: rgba(51, 54, 56, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.container {
  width: 45%;
  height: 300px;
  position: fixed;
  top: 56px;
  left: 45%;
  transform: translateX(-50%);
  background-color: $background-color;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 14px;
}

.buttonContainer {
  width: 100%;
  height: 56px;
  text-align: left;
  padding: 20px;


  button {
    color: $brand-color;
    width: 30px;
    height: 30px
  }
}




.ContentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 16px 16px 0 24px;
  //outline: auto;

}


.avatarContainer {
  @include box(50, 50);
  object-fit: cover;
  border: 1px solid $background-color;
  border-radius: 50%;

}

// 父親是ContentContainer，
textarea {
  width: 100%;
  border: none;
  text-align: start;
  margin-top: 1rem;
  margin-left: 1rem;
  // width: 88%;
}

.button {
  position: relative;
  margin-top: 10rem; //不確定可不可以寫死
  @include box(64, 40);
  @include fontStyle(16, 400);
  background: $brand-color;
  border-radius: 50px;
  line-height: 24px;
  color: $background-color;
}


// .tweetText {
//   border: none;
//   height: 100%;
//   width: 100%;
//   line-height: normal;
//   padding-top: 0;
//   text-align: top;
//   font-weight: 700;
//   font-size: 18px;
//   line-height: 18px;
//   color: #6C757D;
//   margin-bottom: 10px;

//   input {
//     height: 50px; //調整高度
//     border: none;
//     padding: 0;

//   }
// }