@import '../../style/base.scss';

.homeContainer {
    display: flex;
    flex-direction: row;
<<<<<<< Updated upstream
    justify-content: flex-start;
=======
    justify-content: space-between;
>>>>>>> Stashed changes
    width: 100%;
    min-height: 100vh;
    padding: 0;

}

.homeColumn {
    display: flex;
    flex-direction: row;
    height: 100%;
    //border-radius: 16px;
}

.leftColumn {
    flex:0 0 200px;
    background-color: #fff;
    position: relative;
    margin-right: 24px;
    background-color: #fff;
    position: sticky; /* 改為 sticky */
    top: 0; /* 固定在頂部 */
    height: 100vh; /* 使用 viewport 高度 */
  }


.middleColumn {
    flex: 4;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
}



