@import '../../style/base.scss';

.homeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  padding: 0;

}


.homeColumn {
  display: flex;
  flex-direction: row;
  height: 100%;
  //border-radius: 16px;
}

.leftColumn,
.rightColumn {
  background-color: #fff;
  position: sticky; /* 改為 sticky */
  top: 0; /* 固定在頂部 */
  height: 100vh; /* 使用 viewport 高度 */
}


.leftColumn {
  margin-right: 24px;
  flex:0 0 200px;
}

.middleColumn {
  flex: 3;
  position: relative;
  background-color: #fff;
  padding-right: 25px;
}

.navbarContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  //justify-content: space-between;
  background: #FFFFFF;

}

// 新增
.form {
  width: 45vw;
  display: grid;
}

.button {
  margin: 16px;
  @include box(64, 40);
  @include fontStyle(16, 400);
  align-self: flex-end;
  text-align: center;
  background: $brand-color;
  border-radius: 50px;
  line-height: 24px;
  color: $background-color;
  justify-self: end;
}

.settingHeader{
  @include fontStyle(24,700);
    height: 74px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    
  
  
}