@import"../../style/base.scss";

.container {
  width: 100%;
  position: relative;
  padding: 16px 16px 0;
  border: #E6ECF0 1px solid;
}

// 還有一條灰線沒有實現
.tweetContainer {
  width: 100%;
  border-bottom: #E6ECF0 1px solid;

  .titleContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .nameContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 5px;


      .name {
        @include fontStyle(16, 700);
        line-height: 26px;
        color: $name-color;
      }

      .account {
        @include fontStyle(14, 400);
        line-height: 22px;
        color: $secondary-color;
      }
    }
  }

}

.introduction {
  @include fontStyle(24, 400);
  text-align: left;
  line-height: 36px;
  color: $name-color;
}

.time {
  @include fontStyle(14, 500);
  line-height: 22px;
  color: $default-color;
  text-align: left;
  margin: 8px 0;
}

.avatarContainer {
  @include box(50, 50);

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
  }
}


.dataContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  // margin: 16px 0;
  padding: 16px 0;
  height: 60px;
  border-bottom: #E6ECF0 1px solid;

  .data {
    @include fontStyle(19, 700);
    line-height: 23px;
    color: $name-color ;

    >span {
      margin-left: 5px;
      color: $secondary-color;
      font-weight: 400;
    }

    >:nth-child(1) {
      margin-right: 24px;

    }
  }

}

.iconContainer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
  height: 68px;
  border-bottom: #E6ECF0 1px solid;

  svg {
    cursor: pointer;
  }

  svg:nth-child(1) {
    margin-right: 133px;
  }

}