@import '../../style/base.scss';

.tabContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 53px;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    width: 100%;
}

.tab {
    display: flex;
    width: 130px;
    height: 52px;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: $default-color;
    box-sizing: border-box;
    margin-bottom: 16px;
    cursor: pointer;
}

.active {
    color: #FF6600;
    border-bottom: 2px solid #FF6600;
}


.noFollow {
    @include fontStyle(15, 700);
    margin-top: 20px;

}