@import '../../style/base.scss';

/* Header */

.HeaderContainer {
  height: 74px;
  width: 659px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color; 
  border-bottom: 1px solid $border-color; 
  
}

.imgContainer{
  height: 24px;
  width: 24px;
  margin-left: 25px;

}
.contentContainer{
display: flex;
flex-direction: column;
justify-content: flex-start;
text-align: left;
margin-left: 16px;
.name{
  @include fontStyle(18, 700);
}
.tweetCount{
  @include fontStyle(13,500);
  color: #6C757D;
  line-height: 19px;
}
}

.Header{
  @include fontStyle(24,700);
  line-height:26px;
  padding-top: 26px;
}
