@import '../../style//base.scss';

.onLineList {
  display: flex;
  align-items: center;
  @include fontStyle(16, 700);
  text-align: left;
  border-left: 1px solid $border-color;
  height: 74px;
  padding-left: 16px;

}

.chatUserCard {
  display: flex;
  align-items: center;
  height: 82px;
  box-sizing: border-box; //直接填滿
  border: 1px solid $border-color;
  cursor: pointer;

}

.avatar {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;

}

.userInfo {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.userTime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.name {

  @include fontStyle(16, 700);
  width: auto;
  line-height: 26px;
  color: #171725;
  margin-left: 10px;


}

.userName {
  width: auto; // 讓用戶名的寬度可以自適應
  @include fontStyle(14, 500);
  line-height: 22px;
  margin-left: 5%;
  color: #92929D;

}