@import '../../style/base.scss';

/* Left column */

.navbarContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    background: $background-color;
    z-index: 9999;
}


.NavbarLogo {
    margin: 13px;
    width: 50px;
    height: 50px;
}

.NavbarPng {
    width: 24px;
    height: 24px;

}

.NavbarGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 0;

    .NavbarItem {
        display: flex;
        align-items: center;
        width: 178px;
        height: 58px;
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #44444F;
        justify-content: start;
        cursor: pointer;

        img {
            margin: 0 17px;
        }

    }

    .NavbarItem.active {
        color: $brand-color;
    }
}


.NavbarButton {
    display: block;
    width: 178px;
    height: 46px;
    border: none;
    outline: none;
    justify-content: center;
    background: $brand-color;
    border-radius: 50px;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: $background-color;
    cursor: pointer; //要記得Button都要

}

.logout {
    display: flex;
    align-items: center;
    height: 58px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    justify-content: start;
    color: #44444F;
    left: 180px;
    cursor: pointer;

    img {
        margin: 0 17px;
    }
}

.NavbarTweetIcon {
    display: none;
}

// 平板
@media screen and (max-width: 992px) {
    .NavbarName {
        display: none;
    }

    .NavbarLogo {
        margin: 13px auto;
    }

    .NavbarButton>span {
        display: none;
    }

    .NavbarTweetIcon {
        display: block;
        margin: auto;
    }

    .NavbarGroup {
        align-items: center;

        .NavbarItem {
            width: 100%;
        }
    }

    .NavbarButton {
        margin: 17px 0 auto;
        width: 40px;
        height: 40px;
    }
}

// 手機
@media screen and (max-width: 426px) {
    .NavbarLogo {
        display: none;
    }

    .navbarContainer {
        flex-direction: row;
        height: 100%;
    }

    .NavbarGroup {
        flex-direction: row;
        justify-content: center;

        a:nth-child(1) {
            order: -2;
        }
    }

    .NavbarButton {
        margin: unset;
        color: $main-text-color;
        background: $background-color;
        order: -1;
    }

    .logout {
        display: none;
    }
}