@import "../../style/base.scss";

// 灰底背景
.grayBackground {
  composes: background from "../TweetModal/TweetModal.module.scss";
  z-index: 2;
}

.container {
  width: 55%;
  height: 610px;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 56px;
  left: 47%;
  transform: translateX(-50%);
  background-color: $background-color;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 14px;
}

.isLoading {
  composes: isLoading from "../TweetModal/TweetModal.module.scss";
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;

  .leftContainer {
    display: flex;

    >button {
      width: 30px;
    }

    >h5 {
      margin-left: 36px;
      font-weight: 700;
      line-height: 26px;
      color: #1C1C1C;
    }

  }

  .saveButton {
    @include box(64, 40);
    @include fontStyle(16, 400);
    margin: 16px;
    color: $background-color;
    background: $brand-color;
    border: 1px solid $brand-color;
    border-radius: 50px;
  }
}

.uploadFormContainer {
  width: 100%;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

// label
.bgContainer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .upload {
    left: 46%;
  }

  .fork {
    @include box(15, 15);
    position: absolute;
    left: 53%;
  }
}

// 整個modal容器是父
.upload {
  position: absolute;
}


//label容器
.avatarContainer {
  @include box(140, 140);
  position: absolute;
  left: 16.13px;
  top: 181px;
  object-fit: cover;
  border: 1px solid $background-color;
  border-radius: 50%;
  cursor: pointer;

  .upload {
    top: 50%;
    left: 50%;
  }

  .avatar {
    border-radius: 50%;
  }
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
  justify-content: space-between;
  height: 100%;
  margin-top: 80px;
}

.closeButton {
  composes: closeButton from "../TweetModal/TweetModal.module.scss";
}

.backButton {
  composes: backButton from "../TweetModal/TweetModal.module.scss";
}

@media screen and (max-width: 426px) {
  .container {
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 50%;
    border-radius: 0;
  }
}