@import '../../style/base.scss';

.homeContianer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    padding:0;

}
.homeColumn {
    display: flex;
    flex-direction: row;
    height: 1200px;
    border-radius: 16px;
}

.leftColumn,.rightColumn {
    flex:1;
    background-color: #fff;
}
.middleColumn {
    flex: 2;
    position:  relative;
    background-color: #fff;
}

