@import"../../style/base.scss";

.background {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 54, 56, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 5;
}

.container {
  width: 45%;
  height: 610px;
  position: fixed;
  top: 56px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $background-color;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 14px;
  word-wrap:break-word;
  
}

.buttonContainer {
  width: 100%;
  height: 56px;
  text-align: left;
  padding: 20px;

  button {
    color: $brand-color;
  }
}




.ContentContainer {
  width: 100%;
  display: flex;
  padding: 24px 16px 0;
  

  .leftContainer {
    flex-basis: 82px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 8px;
    position: relative;
    margin-left: 7px;


    .top {
      margin-bottom: 16px;
    }

    .down {
      align-self: center;

    }

    .avatarContainer {
      @include box(50, 50);
      object-fit: cover;
      border: 1px solid $background-color;
      border-radius: 50%;

      >img {
        border-radius: 50%;
      }
    }


  }

  .rightContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .rightTopContainer {
      display: flex;
      flex-flow: column wrap;
      align-items: flex-start;

      .name {
        @include fontStyle(16, 700);
        line-height: 26px;
        color: $name-color;

        >span {
          @include fontStyle(14, 400);
          color: $secondary-color;
        }
      }

      .introduction {
        @include fontStyle(16, 400);
        line-height: 26px;
        color: $main-text-color;
        text-align: left;
        word-wrap:break-word;
      }

      .hint {
        margin-top: 8px;
        margin-bottom: 35px;
        @include fontStyle(14, 400);
        color: $secondary-color;

        >span {
          color: $brand-color;
        }
      }
    }

    .rightBottomContainer {
      width: 100%;
      height: 259px;
      display: flex;
      flex-direction: column;


    }
  }

}

.ReplyButtonContainer {
  width: 100%;
  text-align: right;

  // display: flex;
  >button {
    margin: 16px;
    @include box(64, 40);
    @include fontStyle(16, 400);
    align-self: flex-end;
    text-align: center;
    background: $brand-color;
    border-radius: 50px;
    line-height: 24px;
    color: $background-color;
  }

  >small {
    vertical-align: text-bottom;
    color: $error-color;
  }

}








.tweetText {
  border: none;
  height: 100%;
  width: 100%;
  line-height: normal;
  padding-top: 0;
  text-align: top;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #6C757D;
  margin-bottom: 10px;

  input {
    height: 50px; //調整高度
    border: none;
    padding: 0;

  }
}