@import '../../style/base.scss';

.replyContainer {
  composes: homeContainer from '../HomePage/HomePage.module.scss';
}

.homeColumn {
  composes: homeColumn from '../HomePage/HomePage.module.scss';
}

.leftColumn {
  composes: leftColumn from '../HomePage/HomePage.module.scss';
}

.rightColumn {
  composes: rightColumn from '../HomePage/HomePage.module.scss';

}

.middleColumn {
  composes: middleColumn from '../HomePage/HomePage.module.scss';
}